<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b420d8eb-157c-4363-beac-c76e4a49ed4d/resourceGroups/Prueba/providers/Microsoft.Web/sites/SpeechText</ResourceId>
    <ResourceGroup>Prueba</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://speechtext.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>speechtext.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpeechText</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SpeechText</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SpeechTextAzure" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password=&quot;Dregoniante eternidad1&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password=&quot;Dregoniante eternidad1&quot;;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SpeechText.Models.SpeechTextContext, SpeechText" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpeechTextContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password=&quot;Dregoniante eternidad1&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password=&quot;Dregoniante eternidad1&quot;;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|SpeechTextContext-20171027210206.mdf;Initial Catalog=SpeechTextContext-20171027210206;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpeechTextContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SpeechTextContext-20171027210206; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SpeechTextContext-20171027210206.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SpeechTextContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password="Dregoniante eternidad1";MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SpeechTextAzure-Web.config Connection String">
      <ParameterValue>Data Source=tcp:serverspeechtext.database.windows.net,1433;Initial Catalog=dbSpeechText;Persist Security Info=False;User ID=javierex;Password="Dregoniante eternidad1";MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>